.idea/
.floyd*
__pycache__/
*test.py
*sh
.DS_Store
embeddings/
raw-text.csv
fasttext-train.txt
fasttext-test.txt
visual/
*numbers
.ipynb_checkpoints/
fake_or_real_news.csv
GoogleNews-vectors-negative300.bin
pretrained/*
